* {
    margin: 0;
    padding: 0;
}

.primary-color {
    color: #FF42A5;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 200px;
    background-color: #ffffff;
}

.logo-container {
    width: 50%;
    display: flex;
    gap: 20px;
    align-items: center;
}

.logo-container img {
    width: 30px;
    height: 25px;
}

.manu {
    width: 50%;
    display: flex;
    list-style: none;
    gap: 30px;
    align-items: center;
}

.manu a {
    text-decoration: none;
    color: black;
}

.social-links li {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    display: flex;
    align-items: center;
    padding: 5px 10px;
}

.social-links img {
    width: 20px;
    height: 20px;
    margin: 0 10px;
}

/* banner */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.banner-description {
    width: 50%;
    text-align: left;
    padding: 150px 80px;
    background-image: url(./images/Group\ 14.png);
    /* background-size: cover; */
    background-position: center;
    background-repeat: no-repeat;
}

.banner-title h1 {
    font-size: 50px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-primary {
    padding: 15px 25px;
    border-radius: 20px;
    border: none;
    color: #ffffff;
    background-color: #FF42A5;
}

.btn-green {
    padding: 15px 25px;
    border-radius: 20px;
    border: none;
    color: #ffffff;
    background-color: #4EC5F7;
    margin-left: 15px;
}

.banner-img {
    width: 50%;
    padding: 30px 50px;
}

.banner-img img {
    width: 100%;
    height: 100%;
}

/* gamers */
.we-gamers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 140px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.gamers-img {
    width: 50%;
}

.gamers-img img {
    width: 100%;
    padding: 15px;
}

.gamers-description {
    width: 50%;
    text-align: right;
    gap: 15px;
}

.gamers-description h2, .funny {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.purpose{
    color: #534C64;
    margin-top: 15px;
}
.bb{
    font-size: 20px;
}
/* Online gamers funny videos */
.funny-videos{
    padding: 50px 140px;
}
.funny-videos-title{
    text-align: center;
    margin: auto;
}
.cards{
    display: flex;
    gap: 10px;
}
.card{
    border-radius: 15px;
}
.card img{
    width: 95%;
    padding: 15px;
    border-radius: 15px;
}



/* mobile responsive */
@media screen and (max-width:576px) {
    /* navbar */
    .navbar {
        flex-direction: column;
        padding: 20px;
    }

    .logo-container {
        width: 80%;
        margin: auto;
        justify-content: center;
        padding-bottom: 20px;
    }

    .manu {
        width: 80%;
        flex-direction: column;
        margin: auto;
    }
/* banner */
    .banner {
        flex-direction: column-reverse;
    }

    .banner-description {
        width: 90%;
        padding: 10px;
    }

    .banner-img {
        width: 90%;
        padding: 10px;
    }
    /* gamer */
    .we-gamers {
        flex-direction: column;
        padding: 20px;
    }
    .gamers-img {
        width: 90%;
    }
    .gamers-description {
        width: 90%;
        text-align: center;
    }
    /* funny videos */
    .funny-videos{
        padding: 10px;
        margin-top: 40px;
    }
    .cards{
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }


}